{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main>
        <div class="content-center">
            <div>
                {{- with .Site.Params.social }}
                    <div>
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}

                {{ with .Content }}
                <div class="content home-intro">
                  {{ . }}
                </div>
                {{ end }}
            </div>
        </div>

        <div class="content">
            <div class="posts">
                <h2 class="home-recent-heading">Recent posts</h2>

                {{ $recent := first 10 (where site.RegularPages "Section" "post") }}
                {{ range $recent.GroupByDate "2006" }}
                <div class="posts-group">
                    <div class="post-year">{{ .Key }}</div>
                    <ul class="posts-list">
                        {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{ .Permalink }}" class="post-item-inner">
                                <span class="post-title">{{ .Title }}</span>
                                <span class="post-day">
                                    {{ if $.Site.Params.dateformShort }}
                                        {{ time.Format $.Site.Params.dateformShort .Date }}
                                    {{ else }}
                                        {{ time.Format "Jan 2" .Date }}
                                    {{ end }}
                                </span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}

                <p class="home-all-posts"><a href="{{ "/post/" | relURL }}">All posts →</a></p>
            </div>
        </div>
    </main>
{{ end }}
